/* Utilities */
.container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.current {
  color: $primary !important;
  fill: $primary !important;
}

.section-title {
  text-align: center;
  font-weight: bold;
}

.lead {
  font-size: 1.2rem;
  color: $dark;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary;
}

.l-heading {
  font-size: 4rem;
}

.m-heading {
  font-size: 3rem;
}

.s-heading {
  font-size: 2rem;
}

.text-show-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &-1 {
    @extend .text-show-lines;
    -webkit-line-clamp: 1; /* number of lines to show */
  }
  &-2 {
    @extend .text-show-lines;
    -webkit-line-clamp: 2; /* number of lines to show */
  }
  &-3 {
    @extend .text-show-lines;
    -webkit-line-clamp: 3; /* number of lines to show */
  }
}

.btn {
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-family: $font-primary;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  display: inline-block;
  transition: 0.2s;
  transition-property: none;

  &-flat {
    color: $primary;
  }

  &-block {
    width: 100%;
    display: block;
  }

  &-dark {
    background: $dark;
    color: $light;
  }

  &-light {
    background: $light;
    color: $dark;
  }

  &-primary {
    background: $primary;
    color: setTextColor($primary);
  }

  &-secondary {
    background: $secondary;
    color: setTextColor($secondary);
  }

  &:hover {
    background: lighten($color: $primary, $amount: 5);
  }
}

.bg {
  &-dark {
    background: $dark;
    color: $light;
  }

  &-light {
    background: $light;
    color: $dark;
  }

  &-primary {
    background: $primary;
    color: $light;
  }
}

.py {
  &-1 {
    padding: 1rem 0rem;
  }
  &-2 {
    padding: 2rem 0rem;
  }
  &-3 {
    padding: 3rem 0rem;
  }
  &-4 {
    padding: 4rem 0rem;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
}

.my {
  &-0 {
    margin: 0.5rem 0rem;
  }
  &-1 {
    margin: 1rem 0rem;
  }
  &-2 {
    margin: 2rem 0rem;
  }
  &-3 {
    margin: 3rem 0rem;
  }
  &-4 {
    margin: 4rem 0rem;
  }
}

.m {
  &-0 {
    padding: 0.5rem;
  }

  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }

  &x-auto {
    margin: auto;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.w {
  &-full {
    width: 100%;
  }

  &-25 {
    width: 25%;
  }

  &-40 {
    width: 40%;
  }

  &-50 {
    width: 50%;
  }

  &-75 {
    width: 75%;
  }
}

.form-group {
  padding: 0.5rem 0;
}

.text-area {
  min-height: 200px;
  font-size: 1.2rem !important;
}

label {
  display: block;
  margin-bottom: 0.35rem;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 2rem;
}

.input-field {
  border: solid 1px $primary;
  padding: 0.75rem 0.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  transition: 0.5s;
  border-radius: 3px;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    border: solid 1px $primary;
    outline: none;
  }
}

.bg {
  &-light {
    background: $light;
    color: setTextColor($light);
  }
  &-medium {
    background: $medium;
    color: setTextColor($medium);
  }
  &-light {
    background: $dark;
    color: setTextColor($dark);
  }
  &-dark-lite {
    background: $dark-lite;
    color: setTextColor($dark-lite);
  }
}

.badge {
  display: flex;
  span {
    padding: 0.5rem 2rem;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
  }

  &-warning {
    background: #ffc7c7;
    color: red;
  }

  &-success {
    background: #c6ffc6;
    color: green;
  }

  &-info {
    background: #c7c7fa;
    color: blue;
  }
}

.error-field {
  border-color: red;
}
