<%- include( '../includes/head') %> 
</head>
<body>
  <%- include( '../includes/main-header') %> 
  <main id="orders">
    <div class="container">
      <div>
        <a href="/orders">Confirm Order</a>
      </div>
    </div>
  </main>

<%- include( '../includes/end') %> 

